<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IHospitalService">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://desktop-5f7j08e/WcfService/SimpleService.svc/SimpleService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHospitalService"
                contract="HospitalService.IHospitalService" name="WSHttpBinding_IHospitalService" />
        </client>
    </system.serviceModel>
</configuration>