<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="duplexEndPoint" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/HospitalWcfService/ServiceHospital.svc"
                binding="wsDualHttpBinding" bindingConfiguration="duplexEndPoint"
                contract="HospitalServiceReference.IServiceHospital" name="duplexEndPoint">
                <identity>
                    <servicePrincipalName value="host/DESKTOP-5F7J08E" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>