<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IHospitalService">
                    <security mode="Message" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/SimpleService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IHospitalService" contract="HospitalService.IHospitalService"
                name="NetTcpBinding_IHospitalService">
                <identity>
                    <userPrincipalName value="DESKTOP-5F7J08E\My PC" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>